@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');

html,
body {
  background: #141014;
  padding: 0;
  margin: 0;
  color: #e7e7e7;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
}

h1, p {
  margin-top: 0;
}

a {
  color: #E76F51;
  text-decoration: none;
  transition: color 400ms;
}

a:hover {
  color: #e24d28;
}

* {
  box-sizing: border-box;
}
